#sectionInicio {
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
}
#sectionInicio picture {
    width: 100%;
    padding-bottom: 1vh;
}
#sectionInicio picture img {
    height: 35vh;
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 3px;
}
#sectionInicio article {
    width: 90vw;
    margin: 0 auto;
    line-height: 1.75em;
    text-align: center;
}
#sectionInicio article h1, #sectionInicio article h3 {
    color: rgb(203, 255, 126);
    letter-spacing: 3px;
}
#sectionInicio article p {
    font-size: 18px;
}