/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Trade+Winds&display=swap');
/* 
font-family: 'Trade Winds', cursive;
font-family: 'Comic Neue', cursive; 
*/
body {
	font-family: 'Comic Neue', cursive;
	background-color: black;
	color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Trade Winds', cursive;
}